<ion-header [translucent]="true">
  <ion-toolbar >
   <img class="center-img" src="assets/images/lettering.png" width="110px"  alt="logo"> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="divfondo1 body">
    <div class="center">
      <ion-card>
        <img alt="dado-d20" src="https://c.tenor.com/1KlVOl9NxMkAAAAC/tenor.gif"/>
        <ion-card-header>
          <h3>Elige que dado tirar</h3>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
        <ion-grid class="center">
          <ion-col>
        <ion-button fill="clear">D20</ion-button>
        <ion-button fill="clear">D12</ion-button>
        <ion-button fill="clear">D10</ion-button>
          </ion-col>
          <ion-col>
        <ion-button fill="clear">D8</ion-button>
        <ion-button fill="clear">D6</ion-button>
        <ion-button fill="clear">D4</ion-button>
          </ion-col>
      </ion-grid>
      </ion-card>

    </div>
 </div>
</ion-content>
