ion-card{
    width: 150px;
    height: 150px;
}

.error-form{
    max-height: 40px;
    color: #ff0000;
    font-family: 'Chau';
    display: none;
    overflow: visible;
    white-space: normal;
}

.error-text{
    font-size: 4vw;  
    white-space: normal;     /* Allows text to wrap to the next line */
    overflow: visible;       /* Ensures the text doesn't get hidden */
    word-wrap: break-word;
    font-family: 'Chau' !important;
}
