<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> SUMMON APP registro</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content [fullscreen]="true">
<div id="container" class="divfondo1">

  <div id="container" class="center">
    <ion-card class="center">
      <ion-card-header>
        <ion-card-title> LOGO / BASE DE DATOS </ion-card-title>
        <ion-card-subtitle> LOGO / BASE DE DATOS </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
  
  <h1 class="center"> ¡LA AVENTURA TE LLAMA! ÚNETE </h1>

  <div id="container" class="center">
    <ion-input class="inputsummon" label="Nickname" placeholder="ID User" type="text" label-placement="floating" >
    </ion-input>
  </div>

  <div id="container" class="center">
    <ion-input class="inputsummon" label="Correo" placeholder="@" type="email" label-placement="floating">
    </ion-input>
  </div>

  <div id="container" class="center">
    <ion-input class="inputsummon" label="Contraseña" placeholder="******" type="password" label-placement="floating">
    </ion-input>
  </div>

  <div id="container" class="center">
    <ion-input class="inputsummon" label="Verif Contraseña" placeholder="******" type="password" label-placement="floating">
    </ion-input>
  </div>


  <div id="container" class="center">
    <ion-button> UNIRSE </ion-button>
  </div>
    
  <p class="textVC center">Ya tienes una cuenta?</p>

  <div id="container" class="center">
    <ion-button [routerDirection]="'root'" [routerLink]="'/login'"> INICIA SESIÓN </ion-button>
  </div>
  
</div>
</ion-content>
