ion-card{
    background-color: transparent;
}
ion-card::part(background){
    background-color: transparent;
}

h3{
    color: #fffdee;
    font-family: 'Chau';
}


ion-card{
    width: 50%;
    height: 50%;
}