<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>rolldice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="divfondo1 body"> 
  
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Tira tu/s Dados</ion-card-title>
      <ion-card-subtitle>Elige que dado/s tirar</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-button size="small">
        <ion-icon slot="start" name="star"></ion-icon>
        D20
      </ion-button>
      <ion-button size="small">
        <ion-icon slot="start" name="star"></ion-icon>
        D12
      </ion-button>
      <ion-button size="small">
        <ion-icon slot="start" name="star"></ion-icon>
        D10
      </ion-button>
      <ion-button size="small">
        <ion-icon slot="start" name="star"></ion-icon>
        D8
      </ion-button>
      <ion-button size="small">
        <ion-icon slot="start" name="star"></ion-icon>
        D6
      </ion-button>
      <ion-button size="small">
        <ion-icon slot="start" name="star"></ion-icon>
        D4
      </ion-button>
    </ion-card-content>
  </ion-card>
  <div id="container" class="divfondo1">

    <p class="textN"> Estás en ROLL DADO </p>

  </div>

</div>
</ion-content>
