<ion-header [translucent]="true">
  <ion-toolbar >
   <img class="center-img" src="assets/images/lettering.png" width="110px"  alt="logo"> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="divfondo1 body">

  <div  class="center">
    <ion-card class="center">
        <ion-img src="assets/images/Dice.gif"> </ion-img>
    </ion-card>
  </div>

  <div class="center">  <h3 class="blanco sombraV"> ¡Lanza dados rápidos o personalizálos!</h3> </div>
    
  <div class="center"> 
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button> d20 </ion-button>
          <ion-button> 2d6 </ion-button>
          <ion-button> 2d10 </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>
          
  <div class="center">
    <ion-input class="custom-input inputsummon blanco" label="Dado" type="text" label-placement="floating" fill="outline" maxlength="11" [(ngModel)]="Number">
    </ion-input> 
  </div>
  <div class="center">
    <ion-button> LANZAR DADO </ion-button>
  </div>
  <div class="center">
    <H3 CLASS="blanco"> RESULTADO: <H3 CLASS="blanco sombraV"> 00 </H3> </H3> 
  </div>
 </div>
</ion-content>
