ion-col {
    margin: 5px;
    background-color: #135d54;
    border: solid 5px #171717;
    color: #fff;
    text-align: center;
  }

.image-container{
    background-size: cover;
    min-height: 200px;
}

ion-segment-button {
  background-color: #0d271e;
  border: 5px solid #d3ae4e;
  border-radius: 10px;
  color: #fffdee;
}