<ion-header [translucent]="true">
  <ion-toolbar >
   <img class="center-img" src="assets/images/lettering.png" width="110px"  alt="logo"> 
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div id="container" class="divfondo1 body">


    <div class="center"> <h2 class="sombraV"> !Convierte en el Dungeon Master! </h2> </div>


    <div class="center"> <h3 class="sombraV"> Nombre de sala </h3> </div>
    <div id="container" class="center">
      <ion-input id="custom-input" class="divitemSALA" type="text" maxlength="20">
      </ion-input>  
    </div>

    <div class="center"> <h3 class="sombraV"> Descripcion de sala </h3> </div>
    <div id="container" class="center">
      <ion-input id="custom-input" class="divitemSALA" type="text" maxlength="45">
      </ion-input>  
    </div>


    <div class="center"> <h3 class="sombraV"> Privada con contraseña <ion-checkbox justify="start"></ion-checkbox> </h3> </div>
    <div id="container" class="center">
      <ion-input id="custom-input" class="divitemSALA" type="text"maxlength="6">
      </ion-input>  
    </div>

    <div id="container" class="center">
      <ion-button> CREAR SALA </ion-button>
    </div>

  </div>
</ion-content>