
ion-grid{
    border-radius: 10px;
    width: 90vw;
    max-width: 400px;
    background-color: #135d54;
    border: solid 5px #d3ae4e;
    color: #fffdee;
    text-align: center;
  }

ion-col{
    border-radius: 10px;
    background-color: #0d271e;
    color: #fffdee;
  }
