ion-col{
    background-color: #d3ae4e;
    border: 3px solid #171717;
    border-radius: 60px;
}

#body{
    border-radius: 30px;
    min-width: 90vw;
    min-height: 47vh;
    background-color: #d3ae4e;
    border: 3px solid #171717;
}

#IMGMAP{
    box-sizing: auto;
    max-width: auto;
    max-height: auto;

}

#body{
    border-radius: 30px;
    min-width: 90vw;
    min-height: 28vh;
    background-color: #d3ae4e;
    border: 3px solid #171717;
}

.imgcard{
    width: 35px;
    height: 35px;
    background-color: transparent;
}