<ion-header [translucent]="true">
  <ion-toolbar >
   <img class="center-img" src="assets/images/lettering.png" width="110px"  alt="logo"> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="divfondo1 body">

    <div class="center"> <h2 class="blanco sombraV"> Bienvenido a sala: {{Vnombre_sala}}#{{VgrupoID}} </h2> </div>

    <div class="center vw90"> 
      <ion-grid>
        <ion-row>
          <ion-col id="hover-trigger" size="2" *ngFor="let x of claseParticipante.slice(0,7)"> 

            <div  class="imgcard center-img" *ngIf="x.perfil_media; else placeholder">
              <img [src]="x.perfil_media" alt="{{x.perfil_media}}"/>
             </div>

            <ng-template  #placeholder>
              <div class="imgcard center-img">
                <img src="assets/images/def_profile.png" alt="Default Profile"/>
              </div >
            </ng-template>

            <ion-popover trigger="hover-trigger" triggerAction="hover">
              <ng-template>
                <ion-content class="ion-padding"> {{x.nick}} </ion-content>
              </ng-template>
            </ion-popover>

          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

   <div class="center">
    <div id="body">
      <h2 class="sombraV blanco"> 
        <img  class="IMGMAP" src="assets/images/MAP.png" alt="mapa"> 
      </h2>
    </div>
   </div>

    <div class="center"> 
      <h2 class="sombraV blanco"> CAJA DE MENSAJES </h2> 
    </div>

    <div>

      <div class="center">

        <div id="chat" #chatcaja>
          <div *ngFor="let x of claseMSJ">
            <div class="mensaje">
              <h5>{{ x.msj_autor }}</h5>
              <p>{{ x.msj_texto }}</p>
              <div *ngIf="x.msj_media">
                <img class="chatimg"  [src]="x.msj_media" alt="{{x.msj_media}}"/>
              </div>
              <small>{{ x.msj_date }}</small>
            </div>
          </div>
        </div>

      </div>

      <div class="center">
        <div *ngIf="archivoAdjunto" class="blanco">
          <img class="previewimg" [src]="archivoAdjunto" alt="{{archivoAdjunto}}"/>
          <div *ngIf="archivoAdjunto">
          </div>
          <ion-progress-bar value="1" buffer="1" color="primary"></ion-progress-bar>
        </div>
        
      </div>

      <div class="center">
        <div id="send">

          <ion-input class="chatform blanco" label="Envia mensaje!" type="text" label-placement="floating" fill="outline" [(ngModel)]="mensajeInput">
          </ion-input>

          <ion-button class="summonbtnsmall" (click)="seleccionarArchivo()">
            <ion-icon name="attach-outline"></ion-icon>
          </ion-button>

          <ion-button class="summonbtnsmall" (click)="enviarMensaje()"> 
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>

      </div>
      <br>

    </div>

  </div>
</ion-content>
