<ion-header [translucent]="true">
  <ion-toolbar >
   <img class="center-img" src="assets/images/lettering.png" width="110px"  alt="logo"> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="divfondo1 body">


    <div class="center"> <h2 class="blanco sombraV"> Bienvenido a sala: {{Vnombre_sala}}#{{VgrupoID}} </h2> </div>

    <div class="center"> 
      <ion-grid>
        <ion-row>
          <ion-col size="2" *ngFor="let x of claseParticipante.slice(0,7)"> 
            <div class="imgcard center-img" *ngIf="x.perfil_media == null; else imagenperfil"> <img src="assets/images/def_profile.png" alt="Profile user"/>   </div>
            <ng-template class="imgcard center-img" #imagenperfil> <img [src]="x.profile_user" alt="{{x.profile_user}}"/> </ng-template>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    
    <div class="center">
      <div id="body">
        <h2 class="sombraV blanco"> 
          <img  class="IMGMAP" src="assets/images/MAP.png" alt="mapa"> 
        </h2>
      </div>
    </div>
    <div class="center">
      <div id="chat">
        <h2 class="sombraV blanco"> CAJA DE MENSAJES </h2>
      </div>
    </div>
  
  </div>
</ion-content>
