<ion-header [translucent]="true">
  <ion-toolbar >
   <img class="center-img" src="assets/images/lettering.png" width="110px"  alt="logo"> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="divfondo1 body">


    <div class="center"> <h2 class="sombraV"> Estás en SALA: NOMBRE.DATABASE </h2> </div>

    <div class="center"> 
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col>+</ion-col>
          <ion-col>:</ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="center">
      <div id="body">
        <h2 class="sombraV"> DocumentoMapa.DATABASE </h2>
      </div>
    </div>
  
  </div>
</ion-content>
