<ion-header [translucent]="true">
  <ion-toolbar>
    <img class="center-img" src="assets/images/lettering.png" width="110px" alt="logo">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="divfondo1 body">
    
    <h3 class="center blanco sombraV">USUARIO: {{Vnick}} ID:#{{VuserID}} </h3>

    <div class="center">

      <div class="imgcard hidden center" *ngIf="Vprofile; else placeholder">
            <img class="fill" [src]="Vprofile" alt="{{Vprofile}}" />
      </div>
    
      <ng-template  #placeholder>
        <div class="imgcard hidden center">
          <img class="fill" src="assets/images/def_profile.png" alt="Default Profile"/>
        </div>
      </ng-template>
      
      <ion-button class="summonbutton" (click)="foto()">CAMBIAR IMAGEN</ion-button>
    </div>

    

    <!-- en desuso 
    <h3 class="center blanco sombraV"> PREGUNTA DE SEGURIDAD </h3>
    
    <div class="center">
        <ion-list class="center vwfix">
            <ion-select interface="popover" class="blanco" placeholder="Selecciona pregunta" [(ngModel)]="seleccion">
              <ion-select-option value="1"> ¿Serie favorita de la infancia? </ion-select-option>
              <ion-select-option value="2"> ¿Nombre de mi primera mascota? </ion-select-option>
              <ion-select-option value="3"> ¿Nombre de mi héroe favorito? </ion-select-option>
            </ion-select>
        </ion-list>
    </div>

    <div class="center">
      <ion-input class="inputsummon blanco" label="Respuesta" type="email" label-placement="floating" fill="outline" [(ngModel)]="Vrespuesta" maxlength="20" [readonly]="!isReadonly2"></ion-input>
    </div>

    <div class="center">
      <div #error1 class="error-form"><h5 class="error-text"> Formato vacio o caracteres inválidos </h5></div>
    </div>

    <div class="center"> 
      <h4 class="blanco sombraV"> 
        <ion-checkbox [(ngModel)]="isReadonly2" (ionChange)="onCheckboxChange($event)"> </ion-checkbox>
        Habilitar cambio pregunta y respuesta
      </h4> 
    </div>

    <div class="center">
      <ion-button class="summonbutton" (click)="ActualizaPreguntaSeg()"> ACTUALIZAR RESPUESTA </ion-button>
    </div>
    en desuso -->

    <h3 class="center blanco sombraV"> CORREO </h3>

    <div class="center">
      <ion-input class="inputsummon blanco" label="Correo" type="email" label-placement="floating" fill="outline" [(ngModel)]="Vcorreo" maxlength="70" [readonly]="!isReadonly"></ion-input>
    </div>

    <div class="center">
      <div #error2 class="error-form"><h5 class="error-text">Correo inválido</h5></div>
    </div>

    <div class="center"> 
      <h4 class="blanco sombraV"> 
        <ion-checkbox [(ngModel)]="isReadonly" (ionChange)="onCheckboxChange($event)"> </ion-checkbox>
        Habilitar cambio de correo 
      </h4> 
    </div>

    <div class="center">
      <ion-button class="summonbutton" (click)="ActualizaCorreo()"> ACTUALIZAR CORREO </ion-button>
    </div>

    <!-- Redirige a la página de cambio de contraseña -->
    <div class="center upmargin">
      <ion-button class="summonbutton" routerLink="/configclave">CAMBIAR CONTRASEÑA</ion-button>
    </div>

  </div>
</ion-content>