.imgcard{
    width: 130px;
    height: 130px;
    background-color: transparent;
}

.vwfix{
    min-width: 91vw;
    max-width: 91vw;
}

.fill {
    object-fit: cover;
    object-position: 50% 50%;
}

.hidden{
    overflow: hidden;
}