<ion-header [translucent]="true">
  <ion-toolbar>
    <img class="center-img" src="assets/images/lettering.png" width="110px" alt="logo">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="divfondo1 body">
    
    <h3 class="center">{{Vnick}}#{{VuserID}} </h3>

    <div class="center">

      <div class="center summon-foto1x1" *ngIf="Vprofile != null; else placeholder;">
        <img [src]="Vprofile " alt="User Profile" />
      </div>

      <ng-template  class="center summon-foto1x1" #placeholder>
        <img src="assets/img/def_profile.png" alt="Default Profile" />
      </ng-template>
        
      

      <ion-button class="summonbutton" (click)="takePicture()">CAMBIAR IMAGEN</ion-button>
    </div>

    <div class="center">
      <ion-input class="inputsummon blanco" label="Usuario" type="text" label-placement="floating" fill="outline" [(ngModel)]="Vnick" maxlength="20"></ion-input>
    </div>

    <div class="center">
      <div #error1 class="error-form"><h5 class="error-text">Usuario inválido (Min 5 char.)</h5></div>
    </div>

    <div class="center">
      <ion-input class="inputsummon blanco" label="Correo" type="email" label-placement="floating" fill="outline" [(ngModel)]="Vcorreo" maxlength="70"></ion-input>
    </div>

    <div class="center">
      <div #error2 class="error-form"><h5 class="error-text">Correo inválido</h5></div>
    </div>

    <div class="center">
      <ion-button class="summonbutton" (click)="Actualiza()">ACTUALIZAR DATOS</ion-button>
    </div>

    <!-- Redirige a la página de cambio de contraseña -->
    <div class="center upmargin">
      <ion-button class="summonbutton" routerLink="/configclave">CAMBIAR CONTRASEÑA</ion-button>
    </div>

  </div>
</ion-content>