<ion-header class="verdeO" [translucent]="true">
  <ion-toolbar >
    <ion-title class="center">SUMMON</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="divfondo1">

    <p class="textN"> Patch update </p>
    <div id="container" class="center">
      <div id="container" class="divitem">
  
      </div>
    </div>

    <p class="textN"> IA Funcion </p>
    <div id="container" class="center">
      <div id="container" class="divitem">
  
      </div>
    </div>

    <p class="textN"> Crea hoja de personaje </p>
    <div id="container" class="center">
      <div id="container" class="divitem">
  
      </div>
    </div>

    <p class="textN"> Youtube tutorial </p>
    <div id="container" class="center">
      <div id="container" class="divitem">
  
      </div>
    </div>

    <p class="textN"> Redes sociales </p>
    <div id="container" class="center">
      <div id="container" class="divitem">
  
      </div>
    </div>


  </div>
</ion-content>
