<ion-header [translucent]="true">
  <ion-toolbar >
   <img class="center-img" src="assets/images/lettering.png" width="110px"  alt="logo"> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="divfondo1 body">

    <P class="blanco center"> ¡Bienvenido devuelta {{IDuser}}! </P>

    <div class="center"> <h3 class="blanco sombraV"> Notas del parche </h3> </div>
    <div id="container" class="center">
      <div id="container" class="divitem">
        <p class="L"> Version del parche: Summon APP 0.02 Alpha 
          <br> Actualización de visuales, cambios al Login ... conectar base de datos ...</p>
      </div>
    </div>
    
    <div class="center"> <h3 class="blanco sombraV"> Función IA </h3> </div>
    <div id="container" class="center">
      <div id="container" class="divitem">
        <img id="imagen1" src="assets/images/API.png" alt="API" class="center-img">
      </div>
    </div>

    <div class="center"> <h3 class="blanco sombraV"> ¡Herramienta de creación! </h3> </div>
    <div id="container" class="center">
      <div id="container" class="divitem">
        <div id="container">
          <p class="L"> Funcionalidad nueva! Genera una hoja de creación de personaje para todos tus jugadores y descargala! Pruebalo aquí:</p>
          <ion-button [routerDirection]="'root'" [routerLink]="'/biblioteca-crearhoja'"> CREAR HOJA </ion-button>
        </div>
      </div>
    </div>

    <div class="center"> <h3 class="blanco sombraV"> Último video: SUMMON - Edición de mapas</h3> </div>
    <div id="container" class="center">
      <div id="container" class="divitem">
        <img id="imagen1" src="assets/images/editor.png" alt="API" class="center-img">
      </div>
    </div>

    <div class="center"> <h3 class="blanco sombraV"> Redes sociales </h3> </div>

    <div id="container" class="center final">
      <div id="container" class="divitem">
       <p class="L"> Instagram: Summonappoficial <br> ¡Siguenos para estar al tanto!</p> 
      </div>
    </div>


  </div>
</ion-content>
