<ion-header [translucent]="true">
  <ion-toolbar >
   <img class="center-img" src="assets/images/lettering.png" width="110px"  alt="logo"> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="divfondo1 body">
    
    <div> 
      
      <div class="center">
        <ion-segment class="awdmargin">
          <ion-segment-button value="GALERIA">
            <h3 class="blanco"> GALERÍA </h3>
          </ion-segment-button>
          <ion-segment-button value="NUBE">
            <h3 class="blanco"> SUBIDO </h3>
          </ion-segment-button>
        </ion-segment>
      </div>
      
      <div class="center awdmargin"> 
        <ion-grid fixed="true"> 
          <ion-row>
            <!-- *ngFor=let image of [1,2,3...]""-->
            <ion-col size="6"> Archivo </ion-col>
            <ion-col > Archivo2 </ion-col>
            <ion-col size="6"> Archivo3 </ion-col>
            <ion-col > Archivo4 </ion-col>
            
            <ion-col size="6"> Archivo5 </ion-col>
            <ion-col > Archivo6 </ion-col>
          </ion-row>
        </ion-grid>  
      </div>
      
      <div class="center">
        <ion-button [routerDirection]="'root'" [routerLink]="'/biblioteca-archivo'"> EDITAR ARCHIVO </ion-button>
      </div>

      <div class="center">
        <ion-button [routerDirection]="'root'" [routerLink]="'/biblioteca-crearhoja'"> CREAR HOJA </ion-button>
      </div>

    </div>
  </div>
</ion-content>
