<ion-header [translucent]="true">
  <ion-toolbar >
   <img class="center-img" src="assets/images/lettering.png" width="110px"  alt="logo"> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="divfondo1 body">
    
    <div> 
      
      <div class="center">
        <ion-segment class="awdmargin">
          <ion-segment-button value="NUBE">
            <h3 class="blanco"> ARCHIVOS SUBIDOS </h3>
          </ion-segment-button>
        </ion-segment>
      </div>
      
      <div class="center awdmargin"> 
        <ion-grid fixed="true"> 
          <ion-row *ngFor="let x of claseArchivo">
            <ion-col *ngIf="x.archivo" size="12">  <p class="blanco"> {{x.archivoID}} {{x.subida_date}} </p><img class="fixsize"  [src]="x.archivo" alt="{{x.archivo}}"/> </ion-col>
          </ion-row>
        </ion-grid>  
      </div>
      
      <div class="center">
        <ion-button class="summonbutton" (click)=""> SUBIR FOTO </ion-button>
      </div>

      <div class="center">
        <ion-button class="summonbutton" [routerDirection]="'root'" [routerLink]="'/menu'"> VOLVER MENU </ion-button>
      </div>

    </div>
  </div>
</ion-content>
