ion-grid{
    margin: 5px;
    background-color: #135d54;
    border: solid 5px #d3ae4e;
    color: #fffdee;
    text-align: center;

  }

ion-col{
    border: solid 2px #d3ae4e;
    background-color: #0d271e;
    color: #fffdee;
    text-align: center;
  }
