<ion-header [translucent]="true">
  <ion-toolbar >
   <img class="center-img" src="assets/images/lettering.png" width="110px"  alt="logo"> 
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container" class="divfondo1 body">
    
    <div  class="center">
      <H3 class="blanco sombraV"> Manejo del estado de usuarios </H3>
    </div>
    <div  class="center">
      <H6 class="blanco sombraV"> Ingrese estado si selecciona botón. (0 = Ban, 5 = Activo, 9 = Admin)</H6>
    </div>

    <div  class="center">
      <ion-input class="inputsummon blanco" label="n° estado" type="number" label-placement="floating" fill="outline" [(ngModel)]="Vint">
      </ion-input>
    </div>
    
    <div class="center"> 
      <ion-grid fixed="true"> 
        <ion-row>
          <ion-col size="1"> ID </ion-col>
          <ion-col size="3"> NICK </ion-col>
          <ion-col size="4"> CORREO </ion-col>
          <ion-col size="1"> AC </ion-col>
          <ion-col size="3"> BANEAR </ion-col>

        </ion-row>
        <ion-row *ngFor="let x of arregloUsuario">
          <ion-col size="1"> {{ x.userID }} </ion-col>
          <ion-col size="3"> {{ x.nick }}</ion-col>
          <ion-col size="4"> {{ x.correo }}</ion-col>
          <ion-col size="1"> {{ x.estado}}</ion-col>
          <ion-col size="3"> 
            <ion-button class="summonbtnsmall" (click)="cambestado(x.nick, Vint)"> 
              <ion-icon name="construct-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>  
    </div>

    <div class="center">
      <H3 class="blanco sombraV"> Manejo de grupos </H3>
    </div>

    <div class="center"> 
      <ion-grid fixed="true"> 
        <ion-row>
          <ion-col size="2"> ID </ion-col>
          <ion-col size="4"> NOMBRE</ion-col>
          <ion-col size="3"> DUEÑO </ion-col>
          <ion-col size="3"> ELIMINAR </ion-col>

        </ion-row>
        <ion-row *ngFor="let x of grupos">
          <ion-col size="2"> {{x.grupoID}} </ion-col>
          <ion-col size="4"> {{x.nombre_sala}} </ion-col>
          <ion-col size="3"> {{ x.owner }} </ion-col>
          <ion-col size="3"> 
            <ion-button class="summonbtnsmall" (click)="borragrupo(x.grupoID)"> 
              <ion-icon name="construct-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>  
    </div>
    
    <div  class="center">
      <H3 class="blanco sombraV"> Listado de errores SUMMON VERSION B1.0 </H3>
    </div>

    <div class="center"> 
      <ion-grid fixed="true"> 
        <ion-row>
          <ion-col size="3"> DETALLE Fx </ion-col>
          <ion-col size="9"> MENSAJE ERROR </ion-col>
        </ion-row>
        <ion-row *ngFor="let x of arregloErrores">
          <ion-col size="3"> {{x.detalle}} </ion-col>
          <ion-col size="9"> {{x.mensaje}} </ion-col>
        </ion-row>
      </ion-grid>  
    </div>

  </div>
</ion-content>
