<ion-header [translucent]="true">
  <ion-toolbar >
   <img class="center-img" src="assets/images/lettering.png" width="110px"  alt="logo"> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<div id="container" class="divfondo1 body">

  <div id="container" class="center">
    <ion-card class="center">
      <ion-card-header>
       <ion-img src="assets/images/logo.png"> </ion-img>
      </ion-card-header>
    </ion-card>
  </div>

  <h1 class="center blanco"> Invocando a ... </h1>
  
  <div id="container" class="center">
    <ion-input class="inputsummon blanco" label="Usuario" type="text" label-placement="floating" fill="outline" [(ngModel)]="VIDuser">
    </ion-input>
  </div>
  <div id="container" class="center">
    <div #error1 class="error-form"><h5 class="error-text"> Ingrese usuario </h5> </div>
  </div>

  <div id="container" class="center">
    <ion-input  class="inputsummon blanco" label="Contraseña" placeholder="******" type="password" label-placement="floating" fill="outline" [(ngModel)]="Vpassword">
    </ion-input>
  </div>
  <div id="container" class="center">
    <div #error2 class="error-form"><h5 class="error-text"> Ingrese contraseña </h5> </div>
  </div>

  <a href="#" class="verdeC center">He olvidado mi contraseña </a>
  <br>
  <div id="container" class="center">
    <ion-button class="blanco" (click)="Ingreso()"> INGRESO </ion-button>
  </div>
  <br>

  <div id="container" class="center">
    <ion-button class="blanco" [routerDirection]="'root'" [routerLink]="'/registro'"> REGISTRO</ion-button>
  </div>
</div>
</ion-content>
