<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SUMMON APP LOGIN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div id="container" class="divfondo1">
  <h1> SUMMONING </h1>

  <div id="container" >
    <ion-input class="inputsummon" label="User ID" placeholder="Nickname" type="email" label-placement="floating" fill="outline">
    </ion-input>
  </div>

  <div id="container">
    <ion-input class="inputsummon" label="Contraseña" placeholder="******" type="password" label-placement="floating" fill="outline">
    </ion-input>
  </div>

  <a href="#">He olvidado mi contraseña</a>

  <div id="container">
    <ion-button> INGRESO </ion-button>
  </div>

  <div id="container">
    <ion-button> REGISTRO</ion-button>
  </div>
</div>
</ion-content>
