<ion-header [translucent]="true">
  <ion-toolbar>
   <img class="center-img" src="assets/images/lettering.png" width="110px"  alt="logo"> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<div id="container" class="divfondo1 body">

  <div class="imgcard center-img">
       <ion-img src="assets/images/logo.png"> </ion-img>
  </div>

  <h1 class="center blanco sombraV"> Invocando a ... </h1>
  
  <div  class="center">
    <ion-input class="inputsummon blanco" label="Usuario" type="text" label-placement="floating" fill="outline" [(ngModel)]="Vnick">
    </ion-input>
  </div>

  <div  class="center">
    <div #error1 class="error-form"><h5 class="error-text"> Ingrese usuario </h5> 
    </div>
  </div>

  <div  class="center">
    <ion-input  class="inputsummon blanco" label="Contraseña" placeholder="******" type="password" label-placement="floating" fill="outline" [(ngModel)]="Vpassword">
    </ion-input>
  </div>
  <div  class="center">
    <div #error2 class="error-form"><h5 class="error-text"> Ingrese contraseña </h5> 
    </div>
  </div>

  <a class="verdeC center uline" id="open-modal"> He olvidado mi contraseña </a>

  <br>
  <div  class="center">
    <ion-button class="summonbutton" (click)="Ingreso()"> INGRESO </ion-button>
  </div>
  <br>

  <div  class="center">
    <ion-button class="summonbutton" [routerDirection]="'root'" [routerLink]="'/registro'"> REGISTRO</ion-button>
  </div>

  <div>
    
      <ion-modal trigger="open-modal">
        <ng-template>

          <ion-header>
            <ion-toolbar>
                
              <ion-title> Recuperar contraseña </ion-title>

              <ion-buttons slot="end">
                <ion-button (click)="cancel()"> Cerrar </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>

          <ion-content class="ion-padding">

              <div class="center">
                <ion-input  class="inputsummon blanco" label="Ingresa tu Nick" type="text" label-placement="floating" fill="outline" [(ngModel)]="Vnombre">
                </ion-input>
              </div>

              <div class="center">
                <ion-input class="inputsummon blanco" label="Ingresa tu correo" type="text" label-placement="floating" fill="outline"  [(ngModel)]="Vcorreo">
                </ion-input>
              </div> 

              <div  class="center">
                <ion-button [disabled]="botonDeshabilitado" class="summonbutton" (click)="Recuperar()"> RECUPERAR </ion-button>
              </div>

              <ng-template [ngIf]="visible" class="codigoseguridad">
                <div class="center">
                  <h4 class="verdeO sombraV"> Ingrese codigo de seguridad </h4>
                </div>

                <div class="center">
                  <ion-input class="inputsummon blanco" label="Respuesta" type="text" label-placement="floating" fill="outline"  [(ngModel)]="Vcodigo">
                  </ion-input>
                </div> 

                <div  class="center">
                  <ion-button class="summonbutton" (click)="ValidaCodigo()"> CONFIRMAR </ion-button>
                </div>

              </ng-template>

          </ion-content>
        </ng-template>
      </ion-modal>

  </div>
  
</div>  
</ion-content>
