<ion-app>

  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>

  <ion-menu-toggle>
    <div class="summonmenu">
    <ion-menu contentId="summonmenu" backdrop>

      <ion-header>
        <ion-toolbar>
          <ion-title class="blanco"> MENÚ </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list class="itemfiller" lines="none">
          
          
          <ion-item [routerDirection]="'root'" [routerLink]="'/menu'" >
            <p> PRINCIPAL </p>
          </ion-item>
          <ion-item  [routerDirection]="'root'" [routerLink]="'/sala'">
            <p> SALAS </p>
          </ion-item>
          <ion-item  [routerDirection]="'root'" [routerLink]="'/biblioteca'">
            <p> BIBLIOTECA </p>  
          </ion-item>
          <ion-item [routerDirection]="'root'" [routerLink]="'/rolldice'">
            <p> DADOS </p>
          </ion-item>
          <ion-item [routerDirection]="'root'" [routerLink]="'/configuracion'">
            <p> CONFIGURACION </p>
          </ion-item>
          <ion-item class="salir" [routerDirection]="'root'" [routerLink]="'/login'">
            <p> SALIR </p>
          </ion-item>      
        </ion-list>
        
      </ion-content>

    </ion-menu>
  </div>
  </ion-menu-toggle>

  <ion-router-outlet id="summonmenu"></ion-router-outlet>
</ion-app>
