

ion-menu{
margin-top: 10vh;
margin-bottom: 13vh;
max-width: 45vw;
--max-width: 45vw;
--ion-toolbar-background: #0d271e !important;
}

ion-menu::part(backdrop){
background-color: transparent;
}

ion-menu::part(container){
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;

border-top: 5px solid #d3ae4e!important;
border-right: 5px solid #d3ae4e!important;
border-bottom: 5px solid #d3ae4e!important;

border-top-right-radius: 30px;
border-bottom-right-radius: 30px;
}

.itemfiller{
min-height: 100%;
background-color: #0d271e  !important;
}

ion-item{
margin: 10px;
border-radius: 51px;
color: #171717 !important;
--background: #fffdee !important;
font-weight: bold;
font-size: large;
max-height: 50px;
}

.salir{
margin-top: 27vh;
color: #f25165!important;
}

ion-title {
    white-space: normal !important;  
    overflow: visible !important;       
    word-wrap: break-word !important;   
  }