<ion-app>

  
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>

  <ion-menu-toggle>
    <div class="summonmenu">
    <ion-menu contentId="summonmenu" backdrop>

      <ion-header>
        <ion-toolbar>
            <div class="center"> <h2 class="blanco">MENÚ</h2> </div>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list class="itemfiller" lines="none"> 
          
          <ion-item class="menuitem" [routerDirection]="'root'" [routerLink]="'/menu'" detail="false" >
            <ion-label class="negro"> PRINCIPAL </ion-label>
          </ion-item>
          <ion-item class="menuitem" [routerDirection]="'root'" [routerLink]="'/sala'" detail="false">
            <ion-label class="negro"> SALAS </ion-label>
          </ion-item>
          <ion-item class="menuitem" [routerDirection]="'root'" [routerLink]="'/biblioteca'" detail="false">
            <ion-label class="negro">  BIBLIOTECA</ion-label>
          </ion-item>
          <ion-item class="menuitem" [routerDirection]="'root'" [routerLink]="'/rolldice'" detail="false">
            <ion-label class="negro"> DADOS </ion-label>
          </ion-item>
          <ion-item class="menuitem" [routerDirection]="'root'" [routerLink]="'/configuracion'" detail="false">
            <ion-label class="negro"> USUARIO </ion-label>
          </ion-item>
          <ion-item class="menuitem salir" [routerDirection]="'root'" [routerLink]="'/login'" detail="false">
            <ion-label> SALIR </ion-label>
          </ion-item>      
        </ion-list>
        
      </ion-content>

    </ion-menu>
  </div>
  </ion-menu-toggle>

  <ion-router-outlet id="summonmenu"></ion-router-outlet>
</ion-app>
