<ion-header [translucent]="true">
  <ion-toolbar >
   <img class="center-img" src="assets/images/lettering.png" width="110px"  alt="logo"> 
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div id="container" class="divfondo1 body">
    
      <div class="center awdmargin">
        <div class="grid">
          <ion-grid>
            <ion-row>
              <ion-col size="9"> YA PARTICIPANDO </ion-col>
              <ion-col size="3"> ENTRAR </ion-col>
            </ion-row>

            <ion-row *ngFor="let x of misgrupos">
              <ion-col size="9" class="elipsis"> #{{x.grupoID}}: {{ x.nombre_sala }}, {{ x.descripcion }}  <br> Dueño: {{ x.owner }} </ion-col>
              
              <ion-col size="3"> 
                <ion-button class="summonbtnsmall" (click)="irmigrupo(x.grupoID)">
                  <ion-icon name="arrow-forward-outline"></ion-icon>  
                </ion-button>  
              </ion-col>

            </ion-row>
          </ion-grid>
          <br>
          <ion-grid>
            <ion-row>
              <ion-col size="5"> INFORMACIÓN </ion-col>
              <ion-col size="4"> CLAVE </ion-col>
              <ion-col size="3"> ENTRAR </ion-col>
            </ion-row>

            <ion-row *ngFor="let x of grupos">
              <ion-col size="5" class="elipsis"> #{{x.grupoID}}:{{x.nombre_sala}} <br> Dueño: {{ x.owner }} </ion-col>
              
              <ion-col size="4"> 
                <ion-input  class="gridform blanco" type="number" min="0" max="999999" [(ngModel)]="x.clavevacia"> </ion-input>
              </ion-col>

              <ion-col size="3"> 
                <ion-button class="summonbtnsmall" (click)="participar(x.grupoID, x.clavevacia)">
                  <ion-icon name="arrow-forward-outline"></ion-icon>  
                </ion-button>  
              </ion-col>

            </ion-row>
          </ion-grid>
          
        </div>
      </div>

      <div class="center awdmargin"> <ion-button class="summonbutton" (click)="irSalacreate()"> CREAR UNA SALA </ion-button> </div>
 
  </div>
</ion-content>