
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "@ionic/angular/css/palettes/dark.system.css";


/*
nEGRo: #171717
VERDE: #1fea00
-
blanco: #fffdee
VERDE oscuro: #0d271e
dorado: #d3ae4e 

rojo claro: #f25165
*/

.flex-container {
display: flex;
flex-direction: row;
}

ion-button{
min-width: 200px;
min-height: 50px;
--background: linear-gradient(60deg, #d3ae4e, #171717, #d3ae4e);
--background-hover: #0d271e;
--background-activated: #000000;
--background-focused: #d3ae4e;
--color: #fffdee;
--border-radius: 30px;
--border-color: #0d271e;
--border-style: solid;
--border-width: 3px;
--ripple-color: rgb(238, 255, 0);
--padding-top: 10px;
--padding-bottom: 10px;
}

.summonmenu{
margin-top: 10vh;
margin-bottom: 13vh;
max-width: 47vw;
--max-width: 45vw;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
border-right: 3px solid #d3ae4e!important;
border-top: 3px solid #d3ae4e!important;
border-bottom: 3px solid #d3ae4e!important;
background: #0d271e !important;
--ion-toolbar-background: #0d271e !important;
}

.divfondo1{
min-width: 100vw;
min-height: 100vh;
background-color: grey;
}

.divitem{
    min-height: 10vh;
    min-width: 80vw;
    max-width: 80vw;
    background-color: #d3ae4e;
}

.summonmenuitem{
margin-top: 10px;
margin-bottom: 10px;
border-radius: 51px;
max-width: 43vw;
color: #171717 !important;
--background: #fffdee !important;
font-weight: bold;
font-family: 'Times New Roman' !important;
}

.summonmenuitemsalir{
margin-top: 10px;
margin-bottom: 10px;
border-radius: 51px;
max-width: 43vw;
color: #f25165!important;
--background: #fffdee !important;
font-weight: bold;
font-family: 'Times New Roman' !important;
position:sticky;
}

.inputsummon{
margin-left: 15px;
margin-right: 15px;
max-width: 815px;
margin-top: 10px;
margin-bottom: 10px;
border: 5px solid #0d271e;
border-radius: 10px;
}

.itemfiller{
min-width: 100vw;
min-height: 100vh;
background-color: #0d271e  !important;
}

.textVO{color: #0d271e !important; font-family: 'Times New Roman' !important;}
.textVC{color: #1fea00 !important; font-family: 'Times New Roman' !important;}
//.textN{color: #171717 !important; font-family: 'Times New Roman' !important;}
//.textB{color:#fffdee !important; font-family: 'Times New Roman' !important;}

.verdeO{color: #0d271e !important;}
.verdeC{color: #1fea00 !important;}
.negro{color: #171717 !important;}
.blanco{color:#fffdee !important;}
.dorado{color:#d3ae4e !important;}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
}

