
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "@ionic/angular/css/palettes/dark.system.css";


/*
nEGRo: #171717 VERDE: #1fea00 blanco: #fffdee VERDE oscuro: #0d271e dorado: #d3ae4e  rojo claro: #f25165
*/

*{
    font-family: 'Chau'
}


ion-button{
min-width: 200px;
min-height: 50px;
--background: linear-gradient(60deg, #d3ae4e, #171717, #d3ae4e);
--background-hover: #0d271e;
--background-activated: #000000;
--background-focused: #d3ae4e;
--color: #fffdee;
--border-radius: 30px;
--border-color: #0d271e;
--border-style: solid;
--border-width: 3px;
--ripple-color: rgb(238, 255, 0);
--padding-top: 10px;
--padding-bottom: 10px;
font-size: 18px;
}

// Color y forma fondo
.divfondo1{
position: absolute;
min-width: 100vw;
min-height: 100vh;
background-color: transparent;
}

// Formularios SASS
.inputsummon{
--background: linear-gradient(90deg, #d3ae4e,#171717,#171717, #171717, #d3ae4e);
margin-left: 15px;
margin-right: 15px;
max-width: 815px;
margin-top: 10px;
margin-bottom: 10px;
border: 5px solid #0d271e;
border-radius: 10px;
--padding-start: 5px;
}

// Textos SAAS 
.verdeO{color: #0d271e !important;}
.verdeC{color: #1fea00 !important;}
.negro{color: #171717 !important;}
.blanco{color:#fffdee !important;}
.dorado{color:#d3ae4e !important;}
.sombraV{text-shadow: #1fea00 1px 0 10px;}
.sombraB{text-shadow: 1px 1px 2px #0d271e, 0 0 0.5em rgb(255, 217, 5)}



// Formularios

.error-form{
    border-radius: 3px;
    background: #171717;
    padding-left: 10px;
    padding-right: 10px;
    color: #f3344b;
    font-family: 'Chau';
    display: none;
    overflow: visible;
    white-space: normal;
    
}

.error-div{
    padding-left: 5vw;
    padding-right: 5vw;
}

.error-text{
    white-space: normal;   
    overflow: visible;  
    word-wrap: break-word;
    font-family: 'Chau' !important;
}


// Utilidades
.center {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center; 
}

.center-img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

@font-face{
    font-family: Chau;
    src: url(assets/fonts/ChauPhilomeneOne-Regular.ttf)
}
@font-face{
    font-family: Chau-It;
    src: url(assets/fonts/ChauPhilomeneOne-Italic.ttf)
}

// Imagen de fondo
@media (prefers-color-scheme: dark) {
    ion-menu-button{
        --ion-color-primary: #fffdee !important;
    }
        
    .body{
        
        background-image: url(assets/images/background.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }
    
}

@media (prefers-color-scheme: light) {
    .body{
        background-image: url(assets/images/backgroundwhite.png);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }    
}


