<ion-header [translucent]="true">
  <ion-toolbar >
   <img class="center-img" src="assets/images/lettering.png" width="110px"  alt="logo"> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="divfondo1 body">

    
    <div class="center"> 
      <ion-card class="block center">
        <ion-card-header>
          <ion-card-title> TituloArchivo.DATABASE </ion-card-title>
        </ion-card-header>
      </ion-card>
      
    </div>

    <div class="center">
      <div class="divarchivo">
        <p> archivo </p>
      </div>
    </div>

  </div>
</ion-content>