<ion-header [translucent]="true">
  <ion-toolbar >
   <img class="center-img" src="assets/images/lettering.png" width="110px"  alt="logo"> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="divfondo1 body">

    
    <div id="container" class="center"> 
      <ion-card class="block center">
        <ion-card-header>
          <p class="textN"> Estás en BIBLIOTECA ARCHIVO ARCHIVO.DATABASE</p>
        </ion-card-header>
      </ion-card>
      
    </div>

  </div>
</ion-content>