<ion-header [translucent]="true">
  <ion-toolbar >
   <img class="center-img" src="assets/images/lettering.png" width="110px"  alt="logo"> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<div id="container" class="divfondo1 body">

  <div id="container" class="center">
    <ion-card class="center">
      <ion-card-header>
       <ion-img src="assets/images/logo.png"> </ion-img>
      </ion-card-header>
    </ion-card>
  </div>

  <h1 class="center"> Invocando a ... </h1>
  
  <div id="container" class="center">
    <ion-input class="inputsummon" label="Usuario" placeholder="Usuario" type="email" label-placement="floating" fill="outline" [(ngModel)]="IDuser">
    </ion-input>
  </div>

  <div id="container" class="center">
    <ion-input  class="inputsummon center" label="Contraseña" placeholder="******" type="password" label-placement="floating" fill="outline" [(ngModel)]="password">
    </ion-input>
  </div>

  <a href="#" class="textVC center">He olvidado mi contraseña</a>

  <div id="container" class="center">
    <ion-button (click)="Ingreso()"> INGRESO </ion-button>
  </div>


  <div id="container" class="center">
    <ion-button [routerDirection]="'root'" [routerLink]="'/registro'"> REGISTRO</ion-button>
  </div>
</div>
</ion-content>
