<ion-header [translucent]="true">
  <ion-toolbar >
   <img class="center-img" src="assets/images/lettering.png" width="110px"  alt="logo"> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="divfondo1 body2">

    <br>
    <h1 class="center textnotfound"> ERROR 404 </h1>
    <h1 class="center negro textnotfoundM"> PÁGINA NO ENCONTRADA </h1>
    <br>
    <h1 class="center textnotfoundL"> AL PARECER <BR> ALGUIEN <BR> SE HA PERDIDO EN <BR> LAS CATACUMBAS... </h1>
    <br>
    <h1 class="center textnotfoundM"> PÁGINA NO ENCONTRADA </h1>
    <h1 class="center textnotfound"> ERROR 404 </h1>

    <div  class="center">
      <ion-button class="summonbutton" [routerDirection]="'root'" [routerLink]="'/login'"> SALIR </ion-button>
    </div>
    
    <div class="center"> <ion-icon name="sync-outline" style="width: 100px; height: 100px;"></ion-icon> </div>
  </div>
</ion-content>