.textnotfoundL{
    text-shadow:  -2px 1px 0 rgb(0, 225, 255), 2px 0 0px rgb(255, 0, 200);
    font-size: 3rem;

}
.textnotfoundM{
    text-shadow:  -2px 1px 0 rgb(0, 225, 255), 2px 0 0px rgb(255, 0, 200);
    font-size: 2rem;
    
}
.textnotfound{
    text-shadow:  -2px 1px 0 rgb(0, 225, 255), 2px 0 0px rgb(255, 0, 200);
}