<ion-header [translucent]="true">
  <ion-toolbar >
   <img class="center-img" src="assets/images/lettering.png" width="110px"  alt="logo"> 
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div id="container" class="divfondo1 body">

    <H2> ¡Convierte en el Dungeon Master! </H2>

    <p> Nombra tu sala: </p>
    <div id="container" class="center">
      <ion-input id="custom-input" class="divitemSALA" type="text" [counter]="true" maxlength="20" [counterFormatter]="customCounterFormatter2">
      </ion-input>  
    </div>

    <p><ion-checkbox justify="start">Privada con contraseña:</ion-checkbox></p>

    <p> Contraseña de la sala: </p>
    <div id="container" class="center">
      <ion-input id="custom-input" class="divitemSALA" type="text" [counter]="true" maxlength="6" [counterFormatter]="customCounterFormatter2">
      </ion-input>  
    </div>

    <div id="container">
      <ion-button> CREAR SALA </ion-button>
    </div>

  </div>
</ion-content>